<ion-view view-title="Editing: {{editingEntry.date | date:'MM-dd-yyyy'}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item>
        <div class="label">
          <i class="log-icon ion-fork"></i>
          <i class="log-icon ion-spoon"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Eaten Food</label>
          </div>
          <input type="checkbox" ng-model="editingEntry.eaten"> </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-ios-clock-outline"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Time Started &nbsp - </label>
          </div>
          <input type="time" ng-model="editingEntry.timeStarted"> </div>
          <div class="log-content">
            <div>
              <label class="stacked-label">Time Ended</label>
            </div>
            <div>
              <input type="time" ng-model="editingEntry.timeEnded" min="editingEntry.timeStarted"> </div>
          </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-soup-can-outline"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">16 oz</label>
          </div>
          <input type="number" ng-model="editingEntry.smallAmount">
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">24 oz</label>
          </div>
          <input type="number" ng-model="editingEntry.bigAmount"> </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-android-alarm-clock"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Bed Time</label>
          </div>
          <div>
            <input type="time" ng-model="editingEntry.timeSleep"> </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-android-sunny"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Can Drive</label>
          </div>
          <div>
            <input type="checkbox" ng-model="editingEntry.ableToDrive"> </div>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Good Sleep</label>
          </div>
          <div>
            <input type="checkbox" ng-model="editingEntry.goodSleep"> </div>
        </div>
      </ion-item>

    </ion-list>
    <br>
    <div class="submit-area">
      <ion-button class="button positive-border" type="submit" ng-click="saveeditingEntry(editingEntry)">Save</ion-button>
      <ion-button class="button assertive-border" ng-click="closeModal">Cancel</ion-button>

    </div>

  </ion-content>
</ion-view>