<ion-view view-title="History">
  <ion-content class="padding">
  <div class="wrapper">
    <div ng-class="{'selected-icon': driving == true, 'unselected-icon': driving == false}" class="history-label"  ng-click="driving = true">
      <i class="log-icon ion-model-s"></i>
    </div>
    <div ng-click="driving = false" ng-class="{'selected-icon': driving == false, 'unselected-icon': driving == true}" class="history-label">
      <i class="log-icon ion-android-alarm-clock"></i>
    </div> 
  </div>

    <table ng-show="driving" class="responstable">
      <tr>
        <th>Date</th>
        <th>Ended</th>
        <th>(16oz)</th>
        <th>(24oz)</th>
        <th>Drive</th>
      </tr>
      <tr ng-repeat="entry in logHistory" ng-click="editEntry(entry)">
        <td>{{ entry.date | date: "MM-dd-yyyy"}}</td>
        <td>{{ entry.timeEnded | date: "HH:mm:ss"}}</td>
        <td>{{ entry.smallAmount }}</td>
        <td>{{ entry.bigAmount }}</td>
        <td><i ng-if="entry.ableToDrive == 'false'" class="assertive ion-android-close"></i>
          <i ng-if="entry.ableToDrive == 'true'" class="balanced ion-android-done"></i></td>
      </tr>
    </table>

    <table ng-show="!driving" class="responstable">
      <tr>
        <th>Date</th>
        <th>Started</th>
        <th>(16oz)</th>
        <th>(24oz)</th>
        <th>Ended</th>
        <th>Slept</th>
        <th>Good Sleep?</th>

      </tr>
      <tr ng-repeat="entry in logHistory" ng-click="editEntry(entry)">
        <td>{{ entry.date | date: "MM-dd-yyyy"}}</td>
        <td>{{ entry.timeStarted | date: "HH:mm:ss"}}</td>
        <td>{{ entry.smallAmount }}</td>
        <td>{{ entry.bigAmount }}</td>
        <td>{{ entry.timeEnded }}</td>
        <td>{{ entry.timeSleep }}</td>
        <td><i ng-if="entry.goodSleep == 'false'" class="assertive ion-android-close"></i>
          <i ng-if="entry.goodSleep == 'true'" class="balanced ion-android-done"></i></td>
      </tr>
    </table>


  </ion-content>
</ion-view>