<ion-view view-title="{{logObject.date | date:'MM-dd-yyyy'}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item>
        <div class="label">
          <i class="log-icon ion-ios-calendar-outline"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Log Date</label>
          </div>
          <div><input type="date" ng-model="logObject.date"></div>
        </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-fork"></i>
          <i class="log-icon ion-spoon"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Eaten Food</label>
          </div>
          <input type="checkbox" ng-model="logObject.eaten"> </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-ios-clock-outline"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Time Started &nbsp - </label>
          </div>
          <input type="time" ng-model="logObject.timeStarted"> </div>
          <div class="log-content">
            <div>
              <label class="stacked-label">Time Ended</label>
            </div>
            <div>
              <input type="time" ng-model="logObject.timeEnded" min="logObject.timeStarted"> </div>
          </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-soup-can-outline"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">16 oz</label>
          </div>
          <input type="number" ng-model="logObject.smallAmount">
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">24 oz</label>
          </div>
          <input type="number" ng-model="logObject.bigAmount"> </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-android-alarm-clock"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Bed Time</label>
          </div>
          <div>
            <input type="time" ng-model="logObject.timeSleep"> </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="label">
          <i class="log-icon ion-android-sunny"></i>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Can Drive</label>
          </div>
          <div>
            <input type="checkbox" ng-model="logObject.ableToDrive"> </div>
        </div>
        <div class="log-content">
          <div>
            <label class="stacked-label">Good Sleep</label>
          </div>
          <div>
            <input type="checkbox" ng-model="logObject.goodSleep"> </div>
        </div>
      </ion-item>

    </ion-list>
    <br>
    <div class="submit-area">
      <ion-button class="button stable-border submit-button" type="submit" ng-click="submit(logObject)">Submit</ion-button>

    </div>

  </ion-content>
</ion-view>